<% layout('layout') -%>
<div class="page-header">
    <h1>Shopping</h1>
</div>

<img src='/images/wireframes/shopping_need.png' alt='wireframe' >


<div>
  <!-- buttons -->
  <a href="/shopping/add">Add</a>
</div>