<% layout('layout') -%>
<div class="page-header">
    <h1>Add</h1>
</div>

<img src='/images/wireframes/shopping_add.png' alt='wireframe' >

<div>
  <!-- buttons -->
  <a href="/shopping">Cancel</a><a href="/shopping">Save</a>
</div>